<% @recipes.each do |recipe| %>

  Recipe Name: <%= recipe.name %><br>
  Recipe Ingredients: <%= recipe.ingredients %><br>

<% end %>

<br>

<a href="/recipes/new"> Add another Recipe to your list </a><br>
<a href="/logout"> Log Out </a>