<h1> This is the new Recipe form </h1>

<form action="/recipes" method="POST">
  Recipe Name: <input type=text name="name"><br>
  Ingredients: <input type=text name="ingredients"><br>
  Directions: <input type=text name="directions"><br>
  Cook Time (in minutes): <input type=number name="cook_time"><br>
  <input type=submit>
<form>