<h1 style="text-align:center">Welcome to Cook&apos;s Assistant</h1><br />

<form method="get" action="/users/login">
    <button type="submit" class="btn">Login</button>
</form><br />

<p style="text-align:center">OR</p>

<form method="get" action="/users/signup">
    <button type="submit" class="btn">Signup</button>
</form>